<div class="container">
  <div class="file-selection-panel">
    <div class="button-container">
      <input type="file" #fileInput (change)="selectFiles($event)" accept=".txt" multiple style="display: none;">
      <button (click)="fileInput.click()">Abrir Arquivos</button>
    </div>
    
    <div class="file-selection-panel">
      <div class="title">
        <h3>Arquivos</h3>
      </div>
      <div class="file-list">
        <ul>
          <li *ngFor="let file of files" (click)="setCurrentFile(file)" [class.selected]="file === currentFile">
            <a>{{ file.name }}</a>
          </li>
        </ul>
     </div>
    </div>
  </div>

  <!-- Painel de texto e botões -->
  <div class="text-and-buttons">
    <!-- Botões Próximo Arquivo e Arquivo Anterior -->
    <div class="button-group">
      <div class="button-container">
        <button (click)="back()">Arquivo Anterior</button>
      </div>
      <div class="button-container">
        <button (click)="skip()">Próximo Arquivo</button>
      </div>
    </div>
    
    <div *ngIf="currentFile" class="textarea-container">
      <h2>{{ currentFile.name }}</h2>
      <p>Arquivo Atual: {{ currentIndex + 1 }} de {{ files.length }}</p>
      <div #textArea
        (mouseup)="onTextSelect()"
        
        [innerHTML]="updateTextWithTags()"
        class="custom-textarea"
        style="position:relative;white-space: pre-wrap;">
    </div>
    </div>

    <div *ngIf="!currentFile" class="textarea-container">
      <h2>Nenhum arquivo selecionado</h2>
      <p>Arquivo Atual: 0 de {{ files.length }}</p>
      <div #textArea class="custom-textarea"></div>
    </div>


    <div class="button-container">
      <button (click)="gerarJson()">Gerar JSON</button>
    </div>

    <!--<h3>Texto Marcado</h3>-->
    <div class="tag-text-list">
      
      <table class="table-container">
        <thead>
          <tr>
            <th>Tag</th>
            <th>Texto</th>
            <th>Início</th>
            <th>Fim</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tag of getTagsForCurrentFile(); let i = index">
            <td>{{ tag.name }}</td>
            <td>
              <div class="text-preview" [title]="tag.text">{{ tag.textPreview }}</div>
            </td>
            <td>{{ tag.start }}</td>
            <td>{{ tag.end }}</td>
            <td>
              <button (click)="deleteTag(i)">Excluir</button> <!-- Passando o índice da tag -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <div class="tags-container">
    <h3>Tags</h3>
    <div *ngFor="let tag of tagService.tags" class="tag" [style.backgroundColor]="tag.color">
      {{ tag.name }}
    </div>
    <input type="text" [(ngModel)]="newTag" placeholder="Nova Tag">
    <button (click)="addTag()">Adicionar Tag</button>
  </div>
</div>
