<header>
    <h1 class="title">Named Entity Recognition (NER) - Annotator</h1>
    <div class="nav">
      <ul>
        <li id="show-instructions">
          <a href="#">Instructions</a>
          <div class="slide-content">
            <!-- Conteúdo do slide de Instructions -->
            <p>Texto de instruções aqui...</p>
          </div>
        </li>
        <li id="show-social">
          <a href="#">Find Me</a>
          <div class="slide-content">
            <!-- Conteúdo do slide de redes sociais -->
            <p>Redes sociais aqui...</p>
          </div>
        </li>
      </ul>
    </div>
  </header>
