mat-dialog-actions {
    display: flex;
    flex-wrap: wrap; /* Permite que os botões se ajustem ao tamanho do container */
    gap: 10px; /* Espaçamento entre os botões */
  }
  
  button.mat-button {
    min-width: 100px; /* Largura mínima para os botões */
    border-radius: 5px; /* Borda arredondada */
    color: white; /* Cor do texto */
  }